
   {% extends "template.html.twig " %}
  {% block body %}

<div class="jumbotron txt-center" >
 <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Our Best Services</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-lg-9">
		  			<div class="row tabulation mt-4 ftco-animate">
		  				<div class="col-md-4">
								<ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
								  <li class="nav-item text-left">
								    <a class="nav-link active py-4" data-toggle="tab" href="#services-1" ><span class="flaticon-roof mr-2"></span> Soudure</a>
								  </li>
								  <li class="nav-item text-left">
								    <a class="nav-link py-4" data-toggle="tab" href="#services-2"><span class="flaticon-roof-1 mr-2"></span> Installation photovoltaique </a>
								  </li>
								  <li class="nav-item text-left">
								    <a class="nav-link py-4" data-toggle="tab" href="#services-3"><span class="flaticon-roof-5 mr-2"></span> Installation solaire thermique </a>
								  </li>
								  <li class="nav-item text-left">
								    <a class="nav-link py-4" data-toggle="tab" href="#services-4"><span class="flaticon-roof-2 mr-2"></span> Plomberie </a>
								  </li>
								 
								</ul>
							</div>
							<div class="col-md-8 pl-md-4">
								<div class="tab-content">
								  <div class="tab-pane container p-0 active" id="services-1">
								  	<h3><a href="#">Soudure</a></h3>
								  	<p> un large panel de formations à la pratique du soudage permet de :</p>
								  
								  	<ul>
								  		<li><span class="fa fa-check"></span>Acquérir une compétence technique et pratique sur des procédés de soudage usuels rencontrés dans l’industrie : (ARC, MIG-MAG, TIG)</li>
								  		<li><span class="fa fa-check"></span>		
Comprendre, décoder les plans d’assemblage en vue de la fabrication. </li>
								  		<li><span class="fa fa-check"></span>Passer des qualifications en fonction des besoins des entreprises,</li>
								  		<li><span class="fa fa-check"></span>Soudage sur des matériaux courants (acier, inox, aluminium, cuivre )</li>
					
								  	</ul>

								  </div>
								  <div class="tab-pane container p-0 fade" id="services-2">
								  	<h3><a href="#">Installation photovoltaique</a></h3>
								  	<p>Energies Nouvelles et Renouvelables</p>
								  	<p>Formations à distance diplômantes pour les travailleurs dans les différentes spécialités et les cycles de formation de haut niveau.</p>
								  	<ul>
								  		<li><span class="fa fa-check"></span>Des formations continues et des formations à la carte en solaire photovoltaïque RR, site isolé et pompage solaire</li>
								  		<li><span class="fa fa-check"></span>Une formation Co-Construite en Energie et Génie Climatique </li>
								  
								  	</ul>
								  </div>
								  <div class="tab-pane container p-0 fade" id="services-3">
								  	<h3><a href="#">Installation solaire thermique</a></h3>
								  	<p>Les travaux qui lui sont confiés concernent aussi bien des installations neuves, dans des immeubles neufs ou anciens, que la modification d'installations existantes.</p>

								  	<ul>
								  		<li><span class="fa fa-check"></span>Réalise des installations de chauffage central et de sanitaire</li>
								  		<li><span class="fa fa-check"></span>entretenant des systèmes de chauffage</li>
								  	
								  	</ul>
								  </div>
								  <div class="tab-pane container p-0 fade" id="services-4">
								  	<h3><a href="#">Plomberie</a></h3>
								  	<p>Accueil, présentation des objectifs de formation, prise de connaissance de l’environnement professionnel, adaptation du parcours de formation .</p>
								 
								  	<ul>
								  		<li><span class="fa fa-check"></span>Réaliser des installations de chauffage de locaux d’habitation</li>
								  		<li><span class="fa fa-check"></span>Réaliser des installations sanitaires de bâtiment</li>
								  		
								  	</ul>
								  </div>
								
								 
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 d-flex align-items-stretch">
						<div class="img" style="background-image: url(FrontEnd/images/about.jpg);"></div>
					</div>
				</div>
    	</div>
    </section>

		
    </section>
    </div>
 {% endblock %}