 {% extends "template.html.twig " %}
 {% block body %}

<div class="jumbotron txt-center" >

<h1>Centre de formation</h1>
<p>Notre centre de formation,  vous propose une offre complète de formation destinée aux entreprises, aux salariés et aux demandeurs d’emploi qui répond à l’ensemble des problématiques de gestion des emplois et des compétences.

Nos formateurs issus du monde professionnel sont dotés de l’expérience et les compétences nécessaires que ce soient techniques ou pédagogiques pour vous garantir un apprentissage rapide et efficace.</p>
</div>







 {% endblock %}